body {
    margin: 0 auto;
    background-color: #1C1C1C;
    
}

.main-container {
    background-color: #ECFDF5;
    width: 550px;
    height: 550px;
    margin: 64px auto;
    padding: 115px 52px;
    
}

.main-title {
    width: 550px;
    padding: 0px;

}


h1 {
    font-family: "Karla", sans-serif;
    font-weight: 800px;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
    font-weight: 400px;
    font-size: 20px;
    color: #6B7280;
    margin-top: 5px;
    margin-bottom: 0px;
}

span {
     color: #10B981;
}

button {
    background-color: #10B981;
    color: #ECFDF5;
    border-style: none;
    width: 210px;
    height: 50px;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 16px;
    padding: 
}

.password-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

#pass-container {
    width: 250px;
    height: 50px;
    background-color: #273549;
    border-radius: 8px;
    margin: 0px;
    text-align: center;
}

hr {
    margin: 0;
}

p {
    font-size: 16px;
    color: #10B981;
    margin-top: 15px;
}

h2, button, p {
    font-family: "Inter", sans-serif;
} 
